<nav id="top-navbar" > 
        <div id="mCSB_2" class="mCustomScrollBox mCS-dark mCSB_horizontal mCSB_inside" style="max-height: none;" tabindex="0">
            <div id="mCSB_2_container" class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x" style="position: relative; top: 0px; left: 0px; width: 100%;"
             dir="ltr">
                <ul>
                    <li class="bg-menu ismenu">
                        <span >Abrir Menu</span>
                    </li>
                </ul>
            </div>
        
        </div>
    </nav> 
    <nav id="nav-projeto" >
        <div id="mCSB_1" class="scroll"
         style="max-height: none;" tabindex="0">
            <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                <div class="projeto-label ">
                    <a href="#" title="Documentação Teste Unitário">
                        @pedropbazzo
                    </a>
                    <div class="fechar-nav"><i class="fa fa-close"></i></div>
                </div>
                <ul class="nav-itens" style="height: 427px;">
                    <li class="nav-item active">
                        <a href="#!/" data-id="685" data-ordem="1" data-projeto="80">
                            Introdução {{main.pagina}}
                        </a>
                    </li>
                        <li class="nav-item active">
                                <a href="#!/um-src-app-component-ts" data-id="690" data-ordem="7" data-projeto="80">
                                    src/app.component.ts
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-app-component-html" data-id="737" data-ordem="8" data-projeto="80">
                                    src/app.component.html
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-interfaces-lembrete-ts" data-id="737" data-ordem="8" data-projeto="80">
                                    src/interfaces/lembrete.ts
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-compartilhado-error-msg-error-msg-component-ts" data-id="737" data-ordem="8" data-projeto="80">
                                    src/compartilhado/error-msg/error-msg.component.ts
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-compartilhado-error-msg-error-msg-component" data-id="737" data-ordem="8" data-projeto="80">
                                    src/compartilhado/error-msg/error-msg.component.html
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-environments-environments-ts" data-id="737" data-ordem="8" data-projeto="80">
                                    src/environments/environments.ts
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-services-lembrete-service-ts" data-id="737" data-ordem="8" data-projeto="80">
                                    src/services/lembrete.service.ts
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-paginas-lista-lembrete-lista-lembrete" data-id="737" data-ordem="8" data-projeto="80">
                                    src/paginas/lista-lembrete/lista-lembrete.component.ts
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-paginas-lista-lembrete-lista-lembrete-html" data-id="737" data-ordem="8" data-projeto="80">
                                    src/paginas/lista-lembrete/lista-lembrete.component.html
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-app-compartilhado-form-lembrete-form-lembrete-component-ts" data-id="737" data-ordem="8" data-projeto="80">
                                    src/app/compartilhado/form-lembrete/form-lembrete.component.ts
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-app-compartilhado-form-lembrete-form-lembrete-component-html" data-id="737" data-ordem="8" data-projeto="80">
                                    src/app/compartilhado/form-lembrete/form-lembrete.component.html
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-paginas-criar-lembrete-criar-lembrete-component-ts" data-id="737" data-ordem="8" data-projeto="80">
                                    src/paginas/criar-lembrete/criar-lembrete.component.ts
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-paginas-criar-lembrete-criar-lembrete-component-html" data-id="737" data-ordem="8" data-projeto="80">
                                    src/paginas/criar-lembrete/criar-lembrete.component.html
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-paginas-editar-lembrete-editar-lembrete-component-ts" data-id="737" data-ordem="8" data-projeto="80">
                                    src/paginas/editar-lembrete/editar-lembrete.component.ts
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-paginas-editar-lembrete-editar-lembrete-component-html" data-id="737" data-ordem="8" data-projeto="80">
                                    src/paginas/editar-lembrete/editar-lembrete.component.html
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-app-routing-module-ts" data-id="737" data-ordem="8" data-projeto="80">
                                    src/app-routing.module.ts
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="#!/src-app-module-ts" data-id="737" data-ordem="8" data-projeto="80">
                                    src/app.module.ts
                                </a>
                            </li>
                            
                        </ul>
            </div>
        </div>
    </nav>