
<h2 class="item-titulo titulo_desc_move">
    src/paginas/editar-lembrete/editar-lembrete.component.ts
</h2>
<div class="content-area">
<pre><code class="ts nonumber">01  import [curly_open] Component, ViewChild [curly_close] from '@angular/core';
02  import [curly_open] ActivatedRoute, Router [curly_close] from '@angular/router';
03  import [curly_open] ErrorMsgComponent [curly_close] 
    from '../../compartilhado/error-msg/error-msg.component';
04  import [curly_open] LembreteService [curly_close] from '../../services/lembrete.service';
05  import [curly_open] Lembrete [curly_close] from '../../interfaces/lembrete';
06  
07  @Component([curly_open]
08    selector: 'app-editar-lembrete',
09    templateUrl: './editar-lembrete.component.html',
10    styleUrls: ['./editar-lembrete.component.css']
11  [curly_close])
12  export class EditarLembreteComponent [curly_open]
13    public lembrete: Lembrete;
14    @ViewChild(ErrorMsgComponent) errorMsgComponent: ErrorMsgComponent;
15  
16    constructor(
17      private lembreteService: LembreteService,
18      private activatedRoute: ActivatedRoute,
19      private router: Router) [curly_open]
20        this.getLembrete(this.activatedRoute.snapshot.params.id);
21      [curly_close]
22  
23    getLembrete(id: number) [curly_open]
24      this.lembreteService.getLembrete(id)
25        .subscribe((lembrete: Lembrete) => [curly_open]
26          this.lembrete = lembrete;
27        [curly_close], () => [curly_open] 
          this.errorMsgComponent.setError('Falha ao buscar lembrete.'); [curly_close]);
28    [curly_close]
29  
30    atualizaLembrete(lembrete: Lembrete) [curly_open]
31      this.lembreteService.atualizaLembrete(lembrete)
32        .subscribe(
33          () => [curly_open] this.router.navigateByUrl('/'); [curly_close],
34          () => [curly_open] this.errorMsgComponent
            .setError('Falha ao atualizar lembrete.'); [curly_close]);
35    [curly_close]
36  
37  [curly_close]</code></pre>

<h3>Visão geral</h3>

<p>A classe do componente da página de edição de lembretes ficará responsável por buscar pelo lembrete, através do Service de lembretes, com base no id informado e atualizar este lembrete quando o formulário do componente de formulário for submetido.</p>

<h3>Comentários</h3>

<p><span class='lf-strong'>Linha 1</span>: Importamos, do pacote @angular/core, dois <i>decorators</i> que serão utilizados mais a frente no componente: <span class='lf-badge'>Component</span> e <span class='lf-badge'>ViewChild</span>.
<pre><code class="ts">import [curly_open] Component, ViewChild [curly_close] from '@angular/core';</code></pre>
</p>

<p><span class='lf-strong'>Linha 2</span>: A partir dos módulos <span class='lf-badge'>ActivatedRoute</span> e <span class='lf-badge'>Router</span> seremos capazes de obter parâmetros passados por URL para a página e redirecionar o usuário para outras páginas da aplicação, respectivamente. 
<pre><code class="ts">import [curly_open] ActivatedRoute, Router [curly_close] from '@angular/router';</code></pre>
</p>

<p><span class='lf-strong'>Linha 3</span>: Embora o componente de erro esteja disponível em toda a aplicação através da tag <span class='lf-badge'>&lt;app-error-msg></span>, para acessar seus métodos através da classe do componente precisamos importá-lo explicitamente.
<pre><code class="ts nonumber">03  import [curly_open] ErrorMsgComponent [curly_close] 
    from '../../compartilhado/error-msg/error-msg.component';</code></pre>
</p>

<p><span class='lf-strong'>Linha 4</span>: Importamos o <i>service</i> que criamos para centralizar as interações com a API.
<pre><code class="ts">import [curly_open] LembreteService [curly_close] from '../../services/lembrete.service';</code></pre>
</p>

<p><span class='lf-strong'>Linha 5</span>: Importamos a interface <span class='lf-badge'>Lembrete</span> para, mais pra frente no arquivo, realizar a tipagem de parâmetros da classe.
<pre><code class="ts">import [curly_open] Lembrete [curly_close] from '../../interfaces/lembrete';</code></pre>
</p>



<p><span class='lf-strong'>Linhas 7 a 11:</span>  Logo abaixo das importações encontraremos o <i>Decorator</i>. O Angular CLI terá criado o <i>decorator</i> @Component automaticamente, junto com seus três atributos: <span class='lf-badge'>selector</span>, <span class='lf-badge'>templateUrl</span> e <span class='lf-badge'>styleUrls</span>.

<pre><code class="ts">@Component([curly_open]
  selector: 'app-editar-lembrete',
  templateUrl: './editar-lembrete.component.html',
  styleUrls: ['./editar-lembrete.component.css']
[curly_close])</code></pre>

<ul>
<li><span class='lf-strong'>selector</span>: é o identificador do componente. Com ele podemos utilizar o componente dentro de outros componentes, como uma <span class='lf-badge'>tag</span>.
</li>
<li><span class='lf-strong'>templateUrl</span>: indica o caminho para o arquivo HTML onde ficará a formatação do nosso componente.
</li>
<li><span class='lf-strong'>styleUrls</span>: indica o caminho para o arquivo CSS de estilo do nosso componente. Os estilos definidos nesse arquivo só estarão disponíveis no arquivo .html definido no atributo <span class='lf-badge'>templateUrl</span>.
</li>
</ul>
</p>


<p><span class='lf-strong'>Linha 13</span>: Criamos um atributo do tipo <span class='lf-badge'>Lembrete</span> que receberá o lembrete buscado na API a partir do id, dessa forma poderemos disponibilizá-lo para o componente de formulário (que o utilizará para preencher os campos do formulário)
<pre><code class="ts">public lembrete: Lembrete;</code></pre>
</p>


<p><span class='lf-strong'>Linha 14</span>: Utilizamos o <i>decorator</i> <span class='lf-badge'>ViewChild</span>, importado anteriormente, para acessar a instância (criada no template <span class='lf-badge'>editar-lembrete.component.html</span>) do componente de erros, chamado de <span class='lf-badge'>ErrorMsgComponent</span>.
<pre><code class="ts">@ViewChild(ErrorMsgComponent) errorMsgComponent: ErrorMsgComponent;</code></pre>
</p>


<p><span class='lf-strong'>Linhas 16 a 21</span>: Realizamos a injeção dos <i>services</i> <span class='lf-badge'>LembreteService</span>, <span class='lf-badge'>ActivatedRoute</span> e <span class='lf-badge'>Router</span>. Dessa forma poderemos acessa-los através dos atributos <span class='lf-badge'>lembreteService</span>, <span class='lf-badge'>activatedRoute</span> e <span class='lf-badge'>router</span> respectivamente. Além disso, executamos o método <span class='lf-badge'>getLembrete</span> criado mais a frente para buscar na API as informações do lembrete com base no id passado pela URL, capturadocom <span class='lf-badge'>this.activatedRoute.snapshot.params.id</span>.
<pre><code class="ts">constructor(
    private lembreteService: LembreteService,
    private activatedRoute: ActivatedRoute,
    private router: Router) [curly_open]
      this.getLembrete(this.activatedRoute.snapshot.params.id);
    [curly_close]</code></pre>
</p>


<p><span class='lf-strong'>Linhas 23 a 28</span>: Criamos o método <span class='lf-badge'>getLembrete</span> que ficará responsável por assinar o <span class='lf-badge'>Observable</span> retornado pelo método de mesmo nome do <i>service</i> <span class='lf-badge'>lembreteService</span>. Caso a requisição seja bem sucedida, o lembrete retornado pela API será atribuído ao atributo lembrete da classe. Caso aconteça algum problema, utilizaremos o método <span class='lf-badge'>setError</span> do componente de mensagem de erro para que um alerta seja exibido para o usuário.
<pre><code class="ts nonumber">01  getLembrete(id: number) [curly_open]
02   this.lembreteService.getLembrete(id)
03    .subscribe((lembrete: Lembrete) => [curly_open]
04     this.lembrete = lembrete;
05    [curly_close], () => [curly_open] 
      this.errorMsgComponent.setError('Falha ao buscar lembrete.'); [curly_close]);
06  [curly_close]</code></pre>
</p>

<p><span class='lf-strong'>Linhas 30 a 35</span>: O método <span class='lf-badge'>atualizaLembrete</span> será responsável por atualizar os dados de um lembrete executando o método de mesmo nome do <i>service</i> <span class='lf-badge'>lembreteService</span> e assinando o <span class='lf-badge'>Observable</span> que este retorna. Dessa forma, caso a requisição seja bem sucedida, faremos o redirecionamento do usuário para a página inicial. Caso a requisição falhe, o componente de mensagem de erro será utilizado para exibir uma mensagem ao usuário.
<pre><code class="ts nonumber">01  atualizaLembrete(lembrete: Lembrete) [curly_open]
01   this.lembreteService.atualizaLembrete(lembrete)
01    .subscribe(
01     () => [curly_open] this.router.navigateByUrl('/'); [curly_close],
01     () => [curly_open] this.errorMsgComponent
       .setError('Falha ao atualizar lembrete.'); [curly_close]);
01  [curly_close]</code></pre>
</p>

</div>