
<h2 class="item-titulo titulo_desc_move">
    src/paginas/criar-lembrete/criar-lembrete.component.html
</h2>
<div class="content-area">
<pre><code class="html">&lt;div class="container mt-3"&gt;
  &lt;div class="row"&gt;
    &lt;div class="col-md-8 mx-auto"&gt;
      &lt;app-error-msg&gt;&lt;/app-error-msg&gt;
      &lt;div class="card"&gt;
        &lt;div class="card-header"&gt;
          Criar
        &lt;/div&gt;
        &lt;div class="card-body"&gt;
          &lt;app-form-lembrete (outputLembrete)="addLembrete($event)"&gt;&lt;/app-form-lembrete&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h3>Visão geral</h3>

<p>No template do componente da página de criação de lembretes iremos instanciar o componente de erros, para que possamos apresentar mensagens de erros para o usuário, bem como o componente do formulário.</p>

<h3>Comentários</h3>

<p><span class='lf-strong'>Linhas 3 e 4</span>: Criamos uma instância do componente de erros em uma coluna de tamanho 8 e centralizada.
<pre><code class="html">&lt;div class="col-md-8 mx-auto">
 &lt;app-error-msg>&lt;/app-error-msg></code></pre>
</p>

<p><span class='lf-strong'>Linhas 9, 10 e 11</span>: Colocamos a instância do componente de formulário dentro do corpo do <span class='lf-badge'>card</span> bootstrap que criamos. Passamos para o componente, através do atributo <span class='lf-badge'>(outputLembrete)</span>, o método que será executado quando o formulário for submetido. O componente irá, então, emitir o lembrete criado pelo usuário que podemos capturar através da variável <span class='lf-badge'>$event</span>.
<pre><code class="html">&lt;div class="card-body">
 &lt;app-form-lembrete (outputLembrete)="addLembrete($event)">&lt;/app-form-lembrete>
&lt;/div></code></pre>
</p>

</div>