
<h2 class="item-titulo titulo_desc_move">
    Introdução
</h2>
<div class="content-area">
<p>Aqui apresentamos um aplicação em Angular que se conecta à um banco de dados relacional através de uma API RESTful. Como entidade a ser persistida, ou seja, os dados que serão gravados no banco, usaremos um Lembrete composto por uma mensagem de texto, bem como um nível de prioridade, com valores pré-definidos (alta, média ou baixa). Para criar esse aplicativo utilizamos o Angular em sua versão 7.</p>

<h3>Use a aplicação no Heroku</h3>
<p>Para testar a aplicação Clique <a target="_blank" title="Aplicação Heroku" href="https://floating-peak-38950.herokuapp.com/">Aqui</a>.</p>

<div class="lf-nota"><b>Nota</b>: Atenção, para acessar o exemplo da aplicação no Heroku é nescessário conexão com a internet.</div>


<h3>Destaques do projeto</h3>

<ul>
<li>Angular 7</li>
<li>TypeScript</li>
<li>Cliente SPA em Angular</li>
<li>HttpClientModule</li>
<li>Tipos customizados</li>
<li>Observables</li>
<li>Interfaces</li>
</ul>


</div>